
h1{
  font-size: 100px;
  color: #cf9825;
  text-transform: uppercase;
  font-weight: 1000;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
  border: 5px solid black;
}
.tbl-header{
  background-color: rgba(255,255,255,0.5);
 }
.tbl-content{
  height:500px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 100px 100px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  color: #800040;
  height:60px;
  border: 50px solid black;
  text-transform: uppercase;
}
td{
  padding: 100px;
  text-align: center;
  height:60px;
  font-weight: 300;
  font-size: 24px;
  color: #956c31;
  border-bottom: 5px solid black;
}


/* demo styles */
section{
  margin: 40px;
}


/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}
/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}